
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

nb-configuration.xml
buildNumber.properties
.mvn/timing.properties
build/
dist/
build-impl.xml
private/
project.properties
project.xml
test/
build.xml
*.jar
*.war
*.ear
